:root {
  --body-color: #000;
  --primary-text: #fafafa;
  --gray-100: #1a1a1a;
  --gray-200: #242424;
  --gray-300: #363636;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid rgba(255, 0, 0, 0.074); */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
  color: var(--primary-text);
  padding-top: 70px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
